*
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    background-image: url(/image/bg.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


/* main sec */
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: -moz-calc(100vh - 156px);
    min-height: -webkit-calc(100vh - 156px);
    min-height: -o-calc(100vh - 156px);
    min-height: calc(100vh - 156px);
    /* margin-top: -650px; */
    
}

img{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
    
.card{
    width: 100%; 
    max-width: 800px;
    padding: 50px 30px;
    margin-top: 100px;
    margin-bottom: 80px;
    background-color: transparent;
    border: none;
}

@media screen and (max-width:800px){
    .card{
        margin-top: 150px;
    }
}

.card button{
    width: 100%;
    max-width: 200px;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 50px;
}

.fortune{
    width: 100%; 
    max-width: 400px;
    /* border: 1px solid whitesmoke; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 6rem;

    background-color: rgba(54, 182, 214, 0.13);
    color: rgba(185, 221, 241, 0.781);
}

button{
    opacity: 0.8;
}

.fortune p{
    /* fortune paragrapgh */
    font-size: 1.2rem;
    font-weight: 500;
    max-width: max-content;
}


/* footer */

footer{
    height: 100px;
}